#content{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#rul-User {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
    padding: 24px;
}
#rul-User > h3 {
    line-height: 1.2;
    font-size: 20px;
    margin: 0 0 12px;
}

#rul-User h3 i {
    color: #1c6cc1;
}
