* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


@font-face {
    font-family: Agnes;
    src: url('../../assets/fonts/agnes/SH Imogen Agnes.ttf');
}

.title-admin {
    text-align: left;
    margin: 15px;
    font-size: 30px;
    color: #40a9ff;
    font-weight: bold;
    width: max-content;
    padding: 5px;
    position: relative;
    font-family: 'Alegreya', serif;
    letter-spacing: 2px;
}

.title-admin::after {
    position: absolute;
    content: 'Sport';
    font-family: Agnes;
    color: #f5222d;
    z-index: 9123;
    right: -35px;
    bottom: -14px;
    font-size: 45px;
    font-weight: 900;
}


.wrapper {
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
}

div.header-ad {
    margin-bottom: 12px;
    background-color: #f3f7fc;
    display: flex;
    justify-content: space-between;
}

.header-ad-box {
    width: max-content;
    padding: 14px;
}

.header-ad-box a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #1C6CC1;
    background-color: #1C6CC1;
    border-radius: 50%;
}

.header-ad-box a:hover {
    background-color: #fff1;
    color: #1C6CC1;
}

.header-ad-box .count-data {
    border-radius: 12px;

}

.text-ad {
    color: #1c6cc1;
    font-weight: 600;
    font-style: italic;
}

.text-user-detail {
    background-color: #fff;
    padding: 5px;
    border-radius: 12px;
    margin: 0 5px;
    border: 2px solid #1c6cc1;
    color: #000;
    font-style: normal;
}

.text-user-detail img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 2px;
}


p.footer-ad {
    margin-top: 12px;
    padding: 12px 0;
    background-color: #f3f7fc;
    text-align: center;
    color: #1c6cc1;
    font-weight: 600;
    font-style: italic;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.admin-list {
    width: 20%;
    height: max-content;
    padding: 0;
    margin: 0 0 0 12px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
    list-style: none;
}

.admin-list li {
    display: flex;
    justify-content: left;
    align-items: center;
}

.admin-list li>i {
    font-size: 14px;
    padding: 6px;
    margin: 0 3px;
}

.admin-list li>a {
    padding: 10px 10px 10px 0px;
    font-size: 14px;
    color: #333;
    line-height: 1.2;
    text-decoration: none;
}

.admin-list li:hover {
    background: #f6f6f6;
}

.admin-list li+li {
    border-top: 1px solid #ddd;
}

.admin-list li.selected {
    background-color: #f3f7fc;
}

.clear {
    clear: both;
}

.main-ad {
    margin-left: 20px;
    width: 80%;
}

p.title-handle {
    padding: 10px;
    width: max-content;
    background: #fff;
    color: #1c6cc1;
    border: 1px solid #1c6cc1;
    border-radius: 0px 14px 0px 14px;
    box-shadow: 4px 4px 0 #1c6cc1;
    margin-bottom: 10px;
    font-weight: bold;
}

.frame {
    overflow: scroll;
    height: max-content;
    max-height: 600px;
    margin-right: 20px;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
}

.frame-request {
    overflow: scroll;
    height: max-content;
    margin-right: 20px;
    max-height: 200px;
    margin-bottom: 10px;
}

table.main-data {
    border-collapse: collapse;
    width: max-content;
    text-align: center;
}

.main-data th {
    line-height: 2;
    background-color: #1C6CC1;
    color: #fff;
}

.main-data th,
.main-data td {
    border: 1px solid #ddd;
    padding: 5px;
}

.wfix-1 {
    width: 150px;
    text-align: left;
}

.wfix-2 {
    width: 200px;
    text-align: left;
}

.wfix-3 {
    width: 330px;
    text-align: left;
}

.main-data tr:nth-child(even) {
    background-color: #ebe5e5;
}

.main-handle {
    width: 700px;
    border-collapse: collapse;
    box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
}

.main-handle td {
    padding: 10px 5px;
    border: 1px solid #ddd;
}

.main-handle tr td:first-child {
    width: 20%;
}

.main-handle tr td:last-child {
    width: 80%;
}

.main-handle td>input {
    padding: 5px 2px;
    width: 100%;
}

.main-handle td>input[type="submit"] {
    background-color: #1C6CC1;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
}

.main-handle td>input[type="submit"]:hover {
    opacity: 0.8;
}

.main-handle td>select {
    padding: 5px 0;
    width: 100%;
}

.main-handle td>textarea {
    resize: vertical;
    padding: 5px 2px;
    width: 100%;
}

.main-handle .notify-error {
    font-size: 12px;
    margin-top: 2px;
    font-style: italic;
    color: red;
}

.wfix-add {
    background-color: #33CC33 !important;
}

.wfix-add>a {
    color: #fff !important;
    text-decoration: none;
}

.wfix-add>a:hover {
    text-decoration: underline;
}

.wfix-edit {
    background: #ffcc00;
    padding: 3px 5px;
    border: 1px solid #ffcc00;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.wfix-del {
    background: #EE0000;
    padding: 3px 5px;
    border: 1px solid #EE0000;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.wfix-lock {
    background: #a8a8a8;
    padding: 3px 5px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    pointer-events: none;
}

.wfix-edit:hover {
    color: #ffcc00;
    background-color: #fff;
}

.wfix-del:hover {
    color: #EE0000;
    background-color: #fff;
}

.none {
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    color: #1C6CC1;
    margin: 10px 0px;
}

.selected {
    background-color: #1C6CC1;
}

.selected>i,
.selected>a {
    color: blue !important;
}

.frame-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.frame-time:last-child {
    margin-bottom: 0;
}

.frame-time>p {
    width: max-content;
    font-size: 12px;
    font-style: italic;
    color: #EE0000;
}

.frame-time>input {
    width: 200px;
    padding: 5px 2px;
}

.input-time {
    background-color: #eee;
    padding: 3px 20px;
    margin-right: 20px;
    border-radius: 12px;
    display: inline-block;
    width: 155px;
}

.time-lock {
    background-color: #D53636;
    color: #fff;
}

.time-added {
    width: max-content;
    text-align: center;
    background-color: #1C6CC1;
    color: #fff;
}